<h1>About</h1>

<p>This travel bucket list will help you track where you've been, and where you want to go. <br><br>
   To view your list click 'Your Bucket List' in the navigation bar. You can add, edit, and delete destinations here. <br><br>
   To see where you've been, click 'Destinations You've Visited'. To see where you haven't been, click 'Destinations you haven't visited yet'.
</p>
