<h1>Your Bucket List</h1>

<a class="button" href="/countries/new">Add Country</a>

<ul>
<% for country in @countries %>
  <li class="country-li">
    <a href="countries/<%=country.id%>"><%= country.name %></a>
    <%= country.has_visited %>
    <a href="countries/<%=country.id%>/edit">Edit</a>
  </li>
<% end %>
</ul>
