<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title>Travel Bucket List</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/your_bucket_list">Your Bucket List</a></li>
      </ul>
    </nav>
      <%= yield %>
  </body>
</html>
