<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/tables.css">
    <title>Travel Bucket List</title>
  </head>

  <body>

    <nav>
        <a class="btn" href="/">Home</a>
        <a class="btn" href="/about">About</a>
        <a class="btn" href="/your_bucket_list">Your Bucket List</a>
        <a class="btn" href="/visited">Destinations you've visited</a>
        <a class="btn" href="/not_visited">Destinations you haven't visited yet</a>
    </nav>

    <div class="maintext">
      <%= yield %>
    </div>

  </body>

</html>
