<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/table.css">
    <title>Travel Bucket List</title>
  </head>

  <body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/your_bucket_list">Your Bucket List</a>
        <a href="/countries">All Your Countries</a>
        <a href="/cities">All Your Destinations</a>
    </nav>

    <div class="maintext">
      <%= yield %>
    </div>

  </body>

</html>
