<h1>Your Bucket List</h1>


<ul>
  <% for country in @countries %>
  <li>
    <%= country.name %>
    <%= country.has_visited %>
  </li>
    <% for city in @cities %>
      <% if city.country_id == country.id %>
        <li>
        <%= city.name %>
        </li>
      <% end %>
    <% end %>
    <br>
  <% end %>
</ul>
