.button {
  text-decoration: none;
}

.enterbtn {
  text-decoration: none;
  display: inline-block;
  background-color: #ffffff;
}

.enter{
  text-align: center;
}

.enterbtn:hover {
  background-color: #cccccc;
}
