body {
  background: #85b4e4 url('/images/world_map.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h1 {
  color: #4592af;
}

nav {
  background-color: #e3c4a8;
}

ul {
  margin: 0px;
}
