body {
  background: #85b4e4 /*url('/images/world_map.jpg')*/;
  /* background-size: 100%;
  background-repeat: no-repeat;
  background-position: top; */
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

h1 {
  color: #4592af;
  text-align: center;
}

nav {
  background-color: #afc0db;
  text-align: center;
  padding: 10px;
}

a {
  padding: 10px;
}

.maintext {
  margin-right: 20%;
  margin-left: 20%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: rgba(175, 192, 219, 0.8); /*rgb, a=alpha(opacity 0.0 - 1.0)*/
}
