<h1><%=@city.name%></h1>

<p><% if @city.has_visited == "t" %>
      <%= "Already visited!" %>
    <% else %>
      <%= "Not visited yet!" %>
    <% end %></p>

<a href="/your_bucket_list">Back to your Bucket List</a>
